# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual studio
obj/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs/
packages/
target/
*.pdb
packages.config
CMakeSettings.json
.vscode

# XCode
Surge.xcworkspace/
surge-au.xcodeproj/
surge-vst2.xcodeproj/
surge-vst3.xcodeproj/
surge-headless.xcodeproj/
products/
installer_mac/installer
installer_mac/*.dmg
installer_osx/installer
installer_osx/Install_Surge_*.dmg
build_logs/
fxbuild/
.DS_Store

# IntelliJ IDEA
.idea

# linux
Makefile
surge-*.make
premake-stamp
cmake-stamp
/Debug
*.deb

# Qt Creator
*.txt.user
*.txt.user.*

# cmake
build/
build32/
buildlin/
buildlin-*/
buildmac/
buildwin/
build-arm/
buildiwyu/
cmake-build-*/

# Reaper
*.RPP-bak

surge-fx
VERSION_GIT_INFO

# Juce until we add a submodule
libs/juce-*
