[submodule "libs/tuning-library"]
	path = libs/tuning-library
	url = https://github.com/surge-synthesizer/tuning-library
[submodule "libs/simde"]
	path = libs/simde
	url = https://github.com/simd-everywhere/simde
[submodule "libs/pybind11"]
	path = libs/pybind11
	url = https://github.com/pybind/pybind11
[submodule "libs/eurorack/eurorack"]
	path = libs/eurorack/eurorack
	url = https://github.com/surge-synthesizer/eurorack.git
[submodule "libs/filesystem/ghc-filesystem"]
	path = libs/filesystem/ghc-filesystem
	url = https://github.com/gulrak/filesystem.git
[submodule "libs/oddsound-mts/MTS-ESP"]
	path = libs/oddsound-mts/MTS-ESP
	url = https://github.com/ODDSound/MTS-ESP
[submodule "libs/libsamplerate"]
	path = libs/libsamplerate
	url = https://github.com/libsndfile/libsamplerate.git
[submodule "libs/JUCE"]
	path = libs/JUCE
	url = https://github.com/juce-framework/JUCE
[submodule "libs/LuaJitLib/LuaJIT"]
	path = libs/LuaJitLib/LuaJIT
	url = https://github.com/LuaJIT/LuaJIT.git
