[Desktop Entry]
Categories=AudioVideo;Audio;
Comment=Free Open Source Hybrid Synthesizer
Exec="/usr/bin/Surge XT"
GenericName=Surge XT
Icon=surge-xt
MimeType=
Name=Surge XT
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
