<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudioComponents</key>
	<array>
		<dict>
			<key>description</key>
			<string>Surge</string>
			<key>factoryFunction</key>
			<string>aulayerFactory</string>
			<key>manufacturer</key>
			<string>VmbA</string>
			<key>name</key>
			<string>Surge Synth Team: Surge</string>
			<key>subtype</key>
			<string>Srge</string>
			<key>type</key>
			<string>aumu</string>
			<key>version</key>
			<integer>65537</integer>
		</dict>
	</array>
	<key>BuildMachineOSBuild</key>
	<string>17G65</string>
	<key>CFBundleDisplayName</key>
	<string>Surge</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Surge</string>
	<key>CFBundleIconFile</key>
	<string>surgeicon</string>
	<key>CFBundleIdentifier</key>
	<string>com.vemberaudio.au.surge</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>VmbA</string>
	<key>CFBundleVersion</key>
	<string>1.6.2</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2020 various authors</string>
</dict>
</plist>
